/* "Happy Monkey", "Lexend" and "Rock Salt" fonts from Google Fonts */
/* Rock Salt to be used the header, Happy Monkey in titles, and Lexend for general text */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Lexend:wght@100..900&family=Rock+Salt&display=swap');

/* =========================================== */
/* Font style classes copied from google-fonts */
/* =========================================== */

.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

.happy-monkey-regular {
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
}

.lexend-light {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.lexend-regular {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ============================================ */
/* Override default styles added by the browser */
/* ============================================ */

/* Below copied from CI love-running walkthrough project example */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ============== */
/* General styles */
/* ============== */

/* Below copied from CI love-running walkthrough project example with some modifications */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: lexend-regular, sans-serif;
}  

/* Below, I got the idea of a box-shadow from love-running walkthrough, modified the code slightly */
header {
    background-color: gold;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 3px #3a3a3a;
    z-index: 99;
    /* Below moves dropdown toggle to header */
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
  
header a {
    text-decoration: none;
    color: inherit;
}
  
h1 {
    text-align: center;
    font-family: "Rock salt", sans-serif;
    color: #3a3a3a;
    letter-spacing: 5px;
    font-size: 100%;
}

h2 {
    text-align: center;
    font-family: "Happy Monkey", sans-serif;
    letter-spacing: 2px;
    font-size: 120%;
    padding-top: 5px;
  }
  
h3 {
    text-align: center;
    /* font-family: "Lexend", sans-serif; */
    letter-spacing: 1px;
    font-size: 100%;
    font-weight: bold;
    padding-top: 10px;
  }

/* In mobile phones, the navbar style will be a dropdown list */
/* Copied the following code from CI love-running walkthrough example with some modifications */
nav {
    position: absolute;
    background-color: gold;
    width: 100%;
    left: 0%;
    box-shadow: 2px 2px 2px gray;
    display: none;
    top: 100%;
}
  
/* ============= */
/* Header styles */
/* ============= */
  
#menu {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
    margin-left: 2em;
    font-family: "Happy Monkey", sans-serif;
}
  
#menu>li {
    margin-bottom: 0.5em;
}
  
.active {
    border-bottom: 1px solid seagreen;
    box-shadow: 2px 2px 2px gray;
}
  
/* ================= */
/* Navigation toggle */
/* ================= */
  
/* Below (the three toggle-related id and classes) are copied from CI love-running walkthrough example */
#nav-toggle:checked~nav {
    display: block;
}
  
/* Hide the checkbox */
#nav-toggle {
    display: none;
}
  
.nav-toggle-label {
    font-size: 2rem;
}

/* ***************** */
/* CSS for quiz page */
/* ***************** */

#quiz-container {
    background-color: rgba(223, 219, 219, 0.862);
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 15vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}

#question-container {
    background-color: beige;
    margin: 10px;
}

/* #quiz-header {
    font-family:  sans-serif;
} */

#question {
    background-color: bisque;
    margin: 10px;
}

#option {
    margin: 10px;
}

#submit-field {
    /* margin: 20px; */
    text-align: center;
}

#tell-more {
    text-align: start;
    margin-left: 50px;
}

.btn-tell-more {
    background-color: rgb(227, 95, 47);
    color: white;
    border: 1px solid rgb(227, 95, 47);
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.btn-tell-more:hover {
    background-color: white;
    color: rgb(227, 95, 47);
}

#next-button {
    text-align: end;
    margin-right: 50px;
}
.btn {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #1959cf;
    color: white;
    border: 1px solid #1959cf;
}

.btn:hover {
    background-color: white;
    color: #1959cf;
}

.btn-next {
    width: 60px;
}

#feedback-container {
    background-color: aquamarine;
    margin: 10px;
}

#score-container {
    background-color: azure;
    margin: 10px;
}

/* The following code is from love-maths walkthrough example */
.scores {
    display: inline-block;
    padding: 25px;
}

.green-border {
    border: 2px solid green;
    border-radius: 3px;
}

.red-border {
    border: 2px solid red;
    border-radius: 3px;
}

.blue-border {
    border: 2px solid blue;
    border-radius: 3px;
}

/* ====================== */
/* CSS for subscribe page */
/* ====================== */

/* CSS used for the subscribe.html page is copied from my portfolio project 1 with slight modifications*/

#subscribe h2 {
    text-align: left;
    font-size: 120%;
}

#subscribe p {
    margin-bottom: 10px;
}

#subscribe-form {
    background-color: rgba(223, 219, 219, 0.862);
    padding: 50px;
    width: 360px;
    margin: 100px auto;
    border-radius: 10px;
}

.personal-detail {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type=text],
input[type=email] {
    height: 30px;
    width: 50%;
    padding-left: 10px;
    margin: 10px 0;
}

.block-label {
    display: block;
}

select {
    height: 30px;
    width: 100px;
    padding-left: 10px;
    margin-bottom: 30px;
}

#feedback {
    padding: 10px;
    margin-bottom: 20px;
}

.checkbox-margin label {
    margin-left: 5px;
    margin-right: 30px;
}

.confirm {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

input[type=submit] {
    margin-top: 40px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: #21643E;
    color: white;
    border: solid 1px #3a3a3a;
    border-radius: 5px;
    width: 100px;
    font-size: medium;
}

input[type=reset] {
    margin-top: 40px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: white;
    color: #21643E;
    border: solid 1px #3a3a3a;
    border-radius: 5px;
    font-size: medium;
}

.thanks {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 150%;
}

/* ================================================== */
/* Media query: tablets and larger (768px and higher) */
/* ================================================== */

@media screen and (min-width: 768px) {

    h1 {
        position: relative;
        font-size: 130%;
    }
  
    h2 {
        letter-spacing: 2px;
        font-size: 130%;
        padding-top: 5px;
      }
      
    h3 {
        text-align: center;
        font-family: "Lexend", sans-serif;
        letter-spacing: 2px;
        font-size: 110%;
        font-weight: bold;
        padding-top: 10px;
      }
    /* Header */
    nav {
        display: block;
        position: absolute;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        width: 100%;
    }
  
    #menu {
        display: flex;
        padding-top: 20px;
    }
  
    #menu>li {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 95%;
    }
  
    /* Below is copied from CI love-running walkthrough example */
    .nav-toggle-label {
        display: none;
    }
  
    /* CSS for quiz page */

    #quiz-container {
        margin-top: 20vh;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px gray;
    }
    /* Subscribe page */
    #subscribe-form {
        width: 700px;
        margin: 150px auto;
    }

/* ======================================= */
/* Media query: laptops (992px and higher) */
/* ======================================= */

@media screen and (min-width: 992px) {

    h1 {
        position: relative;
        font-size: 150%;
    }
  
    #menu>li {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 100%;
    }
  
    #menu a:hover {
        color: seagreen;
    }
  
    /* Subscribe page */
    #subscribe-form {
        margin: 200px auto;
    }