/* "Happy Monkey", "Lexend" and "Rock Salt" fonts from Google Fonts */
/* Rock Salt to be used the header and Lexend for general text */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Rock+Salt&display=swap');

/* =========================================== */
/* Font style classes copied from google-fonts */
/* =========================================== */

.lexend-light {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.lexend-regular {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ============================================ */
/* Override default styles added by the browser */
/* ============================================ */

/* Below copied from CI love-running walkthrough project example */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ============== */
/* General styles */
/* ============== */

/* Below copied from CI love-running walkthrough project example with some modifications */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: lexend, sans-serif;
    /* background-color: rgb(251, 226, 35); */
    background-color: goldenrod;
}  

/* Below, I got the idea of a box-shadow from love-running walkthrough, modified the code slightly */
header {
    background-color: goldenrod;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 3px #3a3a3a;
    z-index: 99;
    /* Below moves dropdown toggle to header */
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
  
header a {
    text-decoration: none;
    color: inherit;
}
  
h1 {
    text-align: center;
    font-family: "Rock salt", sans-serif;
    color: #3a3a3a;
    letter-spacing: 5px;
    font-size: 100%;
}

h2 {
    text-align: center;
    font-family: "lexend", sans-serif;
    letter-spacing: 2px;
    font-size: 120%;
    padding-top: 5px;
  }
  
h3 {
    text-align: center;
    font-family: "Lexend", sans-serif;
    letter-spacing: 1px;
    font-size: 100%;
    font-weight: bold;
    padding-top: 10px;
  }

  #index-main {
    margin-top: 100px;
    flex: 1 0 auto;
  }
  
  #login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5%;
  }

  #datasaurus {
    width: 80%;
    background-color: goldenrod;
    text-align: center;
} 

.scatterplot {
    width: 100%;
    object-fit: contain;
    border: solid #3a3a3a 5px;
}

#button-container {
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
} 

#create-username, #start-quiz {
    background-color: #3a3a3a;
    color: white;
    padding: 5px;    
    margin: 15px;
    font-family: lexend, sans-serif;
    letter-spacing: 1px;
    font-size: small;
    border-radius: 5px;
}

#start-quiz {
    text-decoration: none;
    color: white;
    text-align: center;
    border: 1px solid black;
}

#start-quiz:hover {
    background-color: white;
    color: #3a3a3a;
}

#create-username:hover {
    background-color: white;
    color: #3a3a3a;
}

.align-right {
    text-align: right;
    padding-right: 1em;
}
  
footer div {
    font-size: smaller;
    color: #154229;
    padding-top: 20px;
}

.bottom-line {
    color: #154229;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resource {
    text-decoration: none;
    color: inherit;
    font-size: x-small;
    padding-left: 30px;
    margin-top: -50px;
}

/********************************/
/* CSS for create username page */
/********************************/

#username-form {
    background-color: white;
    padding: 50px;
    width: 360px;
    margin: 25px auto;
    border-radius: 10px;
    font-family: lexend, sans-serif;
  }
  
  .user-detail {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input[type=text],
  input[type=email] {
    height: 30px;
    width:80%;
    padding-left: 10px;
    margin: 10px 0;
  }
  
  #create {
    margin-top: 40px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: #1959cf;
    color: white;
    border: solid 1px #1959cf;
    border-radius: 5px;
    width: 100px;
    font-size: medium;
    text-align: center;
  }
 
  #start-quiz-now {
    margin: 100px;
    text-align: center;
    background-color:#1959cf;
    color: white;
    border: 1px solid #1959cf;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
  }

  #start-quiz-now:hover {
    color:#1959cf;
    background-color: white;
    border: 1px solid #1959cf;
  }

  #message {
    text-align: center;
    padding: 50px;
  }

/* ***************** */
/* CSS for quiz page */
/* ***************** */

#quiz-container {
    /* background-color: rgba(223, 219, 219, 0.862); */
    background-color: white;
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}

#question-container {
    margin: 10px;
}

#question {
    /* background-color: bisque; */
    margin: 10px;
}

#option {
    margin: 10px;
}

.option-container{
    margin: 20px;
}

#submit-field {
    text-align: center;
}

#feedback-buttons {
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.btn-tell-more {
    background-color: rgb(227, 95, 47);
    color: white;
    border: 1px solid rgb(227, 95, 47);
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    width: 100px;
}

.btn-tell-more:hover {
    background-color: white;
    color: rgb(227, 95, 47);
}

.btn {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #1959cf;
    color: white;
    border: 1px solid #1959cf;
}

.btn:hover {
    background-color: white;
    color: #1959cf;
}

.btn-next {
    width: 60px;
    letter-spacing: 1px;
}

#feedback-container {
    /* background-color: aquamarine; */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#score-container {
    background-color: #ebe6e6;
    max-width: 350px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 7px;
}

/* The following code is from love-maths walkthrough example */
.scores {
    display: inline-block;
    padding: 25px;
}

#incorrect-tally {
    color: red
}

#correct-score {
    color: green;
}

.green-border {
    border: 2px solid green;
    border-radius: 5px;
}

.red-border {
    border: 2px solid red;
    border-radius: 5px;
}

.blue-border {
    border: 2px solid blue;
    border-radius: 5px;
}

.positive {
    color: green;
}

.negative{
    color: red;
}

.feedback {
    text-align: center;
    font-family: "lexend", sans-serif;
    font-size: medium;
    max-width: 600px;
    padding: 10px;
    margin-top:10px;
}


/* The idea for the information-container class is from the modal page tutorial on the following site
https://www.w3schools.com/howto/howto_css_modals.asp 
*/
#information-container {
    display: none;
}

#modal-information {
    background-color: white;
    width: 100%;
    margin: 2% auto;
    padding: 3%;
    border: black solid 2px;
    border-radius: 15px;
    font-family: lexend, sans-serif;
    font-size: small;
}

#modal-book {
    background-color: white;
    width: 100%;
    margin: 2% auto;
    /* margin-left: 5%;
    margin-top: 5%; */
    padding: 3%;
    border: black solid 2px;
    border-radius: 15px;
    font-family: lexend, sans-serif;   
    font-size: small; 
}

#modal-close {
    text-align: center;
    margin-top: 30px;
}

#modal-book p {
    margin-top:7px;
    text-align: center;
}

#btn-close {
    padding: 5px;
    background-color: #1959cf;
    color: white;
    letter-spacing: 1px;
    border: 1px solid #1959cf;
    border-radius: 5px;
}

#btn-close:hover {
    background-color: white;
    color: #1959cf;
    border: 1px solid #1959cf;
}


/* ================================================== */
/* Media query: tablets and larger (768px and higher) */
/* ================================================== */

@media screen and (min-width: 768px) {

    h1 {
        position: relative;
        font-size: 130%;
    }
  
    h2 {
        letter-spacing: 2px;
        font-size: 130%;
        padding-top: 5px;
      }
      
    h3 {
        text-align: center;
        font-family: "Lexend", sans-serif;
        letter-spacing: 2px;
        font-size: 110%;
        font-weight: bold;
        padding-top: 10px;
      }
  
    /* CSS for quiz page */

    #quiz-container {
        margin: 15vh auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px gray;
        width: 60vw;
        height: 70vh;
    }

    #modal-information {
        max-width: 700px;
        font-size: medium;
    }
    
    #modal-book {
        max-width: 700px;
        font-size: medium; 
    }

    .bottom-line {
        margin-top: -70px;
        margin-bottom: 20px;
    }
    
    .resource {
        text-decoration: none;
        color: inherit;
        font-size: x-small;
        /* margin-left: 20px; */
        padding-left: 60px;
    }
    
    .resource-big {
       margin-top: -100px
    }

/* ======================================= */
/* Media query: laptops (992px and higher) */
/* ======================================= */

@media screen and (min-width: 992px) {

    h1 {
        position: relative;
        font-size: 150%;
    }
  
    #menu>li {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 100%;
    }
  
    #menu a:hover {
        color: seagreen;
    }

    #modal-information {
        max-width: 900px;
    }
    
    #modal-book {
        max-width: 900px;
    }

    #index-main {
    margin-top: 60px;
    flex: 1 0 auto;
    /* background-color: #3a3a3a; */
    }
    
    #login-container {
    width: 60%;
    margin: 50px auto;
    }

    #create-username, #start-quiz {
        font-size: medium;
        padding: 7px;    
        margin: 20px 60px;
        font-family: lexend, sans-serif;
        letter-spacing: 1px;
        height: 50px;
    }
    
    footer div {
        color: #154229;
        margin-right: 60px;
    }
